* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #195c05;
    padding-top: 16px;
    color: #fff;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #275e07;
    padding: 16px 0;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 0;
    margin-bottom: 16px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-flores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista-flores li {
    list-style: none;
    flex: 0 0 calc(30% - 20px);
    margin-bottom: 24px;
}

.lista-flores img {
    width: 100%;
}

.lista-flores li h3 {
    margin: 16px 0;
}

.item-central {
    flex: 0 0 100%;
    margin: 0;
}

.lista-flores li button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #275e07;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

footer {
    background-color: #275e07;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Ajustes para celular */
@media screen and (max-width: 767px) {
    .container {
        padding: 0 20px;
    }

    header > .container {
        padding: 16px 0;
    }

    nav {
        padding: 8px 0;
    }

    nav li {
        margin-right: 10px;
        font-size: 16px;
    }

    .menu-hamburguer {
        display: inline-block;
    }

    .lista-flores li {
        flex: 0 0 calc(50% - 20px);
    }
}
